body{
    box-sizing: border-box;
}
.search {
    margin: 10px;
}
html{
    background-image: url(../../png/background.jpg);
}
#searchip {
    padding: 10px;
    font-size: 16px;
    width: 300px;
}
.add{
    margin:10px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
}
.title{
    padding: 10px;
    border-radius: 20px;
    padding: 20px;
    border-bottom:solid;
    text-align: center;
    font-size: 2.3em;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.search-add{
    display: flex;
    justify-content: space-between;
}
.container{
    border-top: solid;
    border-radius: 20px;
    padding: 10px;
}
li{
    list-style: none;
    font-size: 1.5em;
}
.container div {
    font-family: 'Roboto', sans-serif;;
}
h3{
    font-size: 2em;
    border-bottom: solid;
}
th{
    font-size: 1.5em;
}
td{
    font-size: 1.4em;
}