body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    background-image: url(../../png/background.jpg);
}

.add > a {
    text-decoration: none;
    color: black;
    padding: 15px;
    background-color: #ccc;
    border: 1px solid;
}

button {
    padding: 10px 20px;
    font-size: 16px;
}

.title {
    border-radius: 20px;
    padding: 20px;
    border-bottom: solid;
    text-align: center;
    font-size: 2.3em;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.search-add {
    display: flex;
    justify-content: space-between;
    margin: 20px;   
    align-items: flex-end;
}

.container {
    border-top: solid;
    border-radius: 20px;
    padding: 10px;
}

li {
    list-style: none;
    font-size: 1.5em;
}

.container div {
    font-family: 'Roboto', sans-serif;
    ;
}

h3 {
    font-size: 2em;
    border-bottom: solid;
}
tr{
    margin: 10px;
}
th {
    font-size: 1.5em;
}

td {
    font-size: 1.4em;
}
#btn-primary {
    text-decoration: none;
    color: black;
    background-color: #Ccc;
    border: 1px solid;
    padding: 5px;
}
#btn-delete{
    text-decoration: none;
    color: black;
    background-color: #Ccc;
    border: 1px solid;
    padding: 5px;
}
#box-search{
    width: 400px;
    height: 36px;
}
a{
    text-decoration: none;
}